@media (max-width: 1280px) {
    .showPizza{
        width: 700px;
    }

    .pizza{
        width: 700px;
        height: auto;
    }
}

@media (max-width: 1000px) {
    #total{
        position: relative;
        top: 235px;
    }
    .apresentacao{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        height: 500px;
        width: 400px;
        padding: 0px;
        margin: 0px;
    }
    
    .showPizza{
        width: 750px;
    }

    .pizza{
        width: 750px;
    }

    #desconto{
        text-align: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
    }
}

@media (max-width: 650px){
    .apresentacao{
        height: 700px;
    }
    
    .showPizza{
        width: 550px;
    }

    .pizza{
        width: 550px;
        height: 300px;
    }

    #desconto{
        text-align: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
    }
}

@media (max-width: 500px){
    .apresentacao{
        height: 700px;
    }

    .showPizza{
        width: 450px;
    }

    .pizza{
        width: 450px;
        height: 250px;
    }

    #desconto{
        text-align: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
    }
}